<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209353459708-07h3c6hjvsas2qpt8caja90nf3niog53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209353459708-07h3c6hjvsas2qpt8caja90nf3niog53</string>
	<key>API_KEY</key>
	<string>AIzaSyD89G88NpA3eAxtgVPQYgNq2kUCJIfLeVM</string>
	<key>GCM_SENDER_ID</key>
	<string>209353459708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Julia.Programming-Assignment</string>
	<key>PROJECT_ID</key>
	<string>programming-assignment-aea4c</string>
	<key>STORAGE_BUCKET</key>
	<string>programming-assignment-aea4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209353459708:ios:3710bef7f153271b005479</string>
</dict>
</plist>